<!DOCTYPE html> 
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="padding-left: 10%; padding-right: 10%;">
    <a class="navbar-brand" href="/" style="font-size: 24pt;">Connor Clancy</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <!--float right items-->
      <ul class="navbar-nav">
      </ul>

      <!--float left items-->
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/experience" style="font-size: 14pt;">Experience</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/education" style="font-size: 14pt; padding-right: 20px;">Education</a>
        </li>

        <!--logos https://www.w3schools.com/icons/fontawesome_icons_brand.asp-->
        <a href="https://www.linkedin.com/in/conclancy/" target="_blank">
          <i class="fa fa-linkedin-square" target="_blank" style="font-size:36px; color:whitesmoke; padding-right: 20px;"></i>
        </a>
        <a href="https://github.com/conclancy" target="_blank">
          <i class="fa fa-github" href="" style="font-size:36px; color:whitesmoke; padding-right: 20px"></i>
        </a>
        <a href="/resume" target="_blank">
          <button class="btn btn-outline-success" type="button">Resume</button>
        </a>
      </ul>
    </div>
  </nav>