<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid" style="padding-top: 10px;">
    <h1>Education</h1>
    <div class="container", style="float:left; width:25%; border:1px; padding:10px; box-sizing:border-box;">
        <img class="float-left" style="width: 200px" src="../static/mu.jpg">
    </div>
    <div class="align-middle", style="padding-top:10px;">
        <div class="container", style="float:right; width:75%; border:1px; padding:10px; box-sizing:border-box;">
            <div class="container">
                <h4 class="float-left">Bachelor of Science in Business Administration</h4>
                <h4 class="float-right">May 2016</h4>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">Majors: Accounting</h6>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left", style="padding-left:60px">Operations and Supply Chain Management</h6>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">GPA: 3.59/4.00</h6>
            </div>
        </div>
    </div>
        <div class="container">
            
        </div>
    </div>
    <div class="clearfix"></div>
    <h1 style="padding-top: 50px;">Certifications</h1>
    <div class="container", style="float:left; width:25%; border:1px; padding:10px; box-sizing:border-box;">
        <img class="float-left" style="width: 200px; vertical-align: middle; padding-left: 10px" src="../static/ga_long.jpeg">
    </div>
    <div class="align-middle", style="padding-top:10px;">
        <div class="container", style="float:right; width:75%; border:1px; padding:10px; box-sizing:border-box;">
            <div class="container">
                <h4 class="float-left">Certified Data Scientist Level 1</h4>
                <h4 class="float-right">December 2019</h4>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">General Assembly</h6>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">
                    Credential ID: 
                    <a href="https://my.generalassemb.ly/awards/EMPYNKM5R" target="_blank">EMPYNKM5R</a>
                </h6>
            </div>
        </div>
    </div>

{% endblock %}