<!DOCTYPE html>
{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid" style="padding-top: 10px;">
    <h1>Education</h1>
    <div class="container", style="float:left; width:25%; border:1px; padding:10px; box-sizing:border-box;">
        <img class="float-left" style="width: 200px" src="../static/mu.jpg">
    </div>
    <div class="align-middle", style="padding-top:10px;">
        <div class="container", style="float:right; width:75%; border:1px; padding:10px; box-sizing:border-box;">
            <div class="container">
                <h4 class="float-left">Bachelor of Science in Business Administration</h4>
                <h4 class="float-right">May 2016</h4>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">Majors: Accounting</h6>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left", style="padding-left:60px">Operations and Supply Chain Management</h6>
            </div>
            <div class="clearfix"></div>
            <div class="container">
                <h6 class="float-left">GPA: 3.59/4.00</h6>
            </div>
        </div>
    </div>
        <div class="container">
            
        </div>
    </div>
    <div class="clearfix"></div>

{% endblock %}