<!DOCTYPE html> 
{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid">
    <h1>Professional Experience</h1>
    <div class="container-fluid">
        <h2 class="float-left">Wayfair</h2>
        <img class="float-right" style="width: 100px" src="../static/wayfair.jpg">
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <h4 class="float-right">Manager, Data Integrity</h4>
        <h4 class="float-left">September 2019 - Present</h4>
    </div>
</div>
{% endblock %}