<!DOCTYPE html> 
{% extends 'layout.html' %}

{% block body %}
<div class="container-fluid" style="padding-top: 10px;">
    <h1>Professional Experience</h1>
    <div class="container">
        <img class="float-left" style="width: 200px" src="../static/wayfair.png">
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <h4 class="float-left">Manager, Data Integrity</h4>
        <h4 class="float-right">September 2019 - Present</h4>
    </div>
    <div class="clearfix"></div>
    <div style="margin-left: 10px; margin-right: 5px;">
        <ul>
            <li> 
                Led a cross-functional team of business users, data scientists, and computer engineers to improve supply chain data quality and visibility with saving valued at $10 million annually.
            </li>
            <li>
                Reduced manual effort required in inventory planning process by 90%, and allowed 3 full-time employees to be redeployed, by closing the gap between the inventory planning system and product catalog data.
            </li>
            <li>
                Improved team organization by developing a process to track projects requirements, tasks, manage deadlines, and monitor KPIs.
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <h4 class="float-left">Senior Data Analyst, Data Governance</h4>
        <h4 class="float-right">July 2018 - September 2019</h4>
    </div>
    <div class="clearfix"></div>
    <div style="margin-left: 10px; margin-right: 5px;">
        <ul>
            <li>
                Gathered and aligned requirements from 8 business stakeholder teams to create a single source-of-truth for supply chain data storage and access with an annualized saving of $4 million.
            </li>
            <li>
                Decreased shipping cost variance by 54% by building a feedback loop to capture, store, and use carrier invoice data to inform future order shipping cost estimates.
            </li>
            <li>
                Developed process documentation and data definitions to ensure all metrics and KPIs easily measured and accessed by stakeholders.
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="container">
        <img class="float-left" style="width: 200px" src="../static/cree_raw.png">
    </div>
    <div class="clearfix"></div>
    <div class="container-fluid">
        <h4 class="float-left">Data Analyst II, Supply Chain & Operations</h4>
        <h4 class="float-right">January 2016 - July 2019</h4>
    </div>
    <div class="clearfix"></div>
    <div style="margin-left: 10px; margin-right: 5px;">
        <ul>
            <li>
                Built work order scheduling SQL database to reduce the amount of manual data gathering required for work order creation. Reduced daily scheduling time from 24 hours to 6 hours.
            </li>
            <li>
                Led a project reducing packaging inventory by 95% by working with suppliers to set up a just-in-time delivery system. A daily report was created to show packaging requirements for the following day’s production.
            </li>
            <li>
                Decreased average work order lead time by 3 day while decreasing inventory by 10% through an automated model that used historical demand to plan safety stock levels.
            </li>
            <li>
                Conducted training sessions for Value Stream Mapping, Transactional Process Improvement, 6S, 8D Problem Solving, and Risk Residual Reduction (R3) programs
            </li>
        </ul>
    </div>
    <div class="clearfix"></div>
    <h1>Internship Experience</h1>
    <div class="container">
        <div class="container", style="float:left; width:33.3%; border:1px; padding:10px; box-sizing:border-box;">
            <img class="float-left", style="height:200px", src="../static/cummins_raw.png">
            <div class="clearfix"></div>
            <ul style="display:inline-block; padding-top:10px; text-align:center;">
                <li>Summer 2014</li>
                <li>Summer 2015</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="container", style="float:left; width:33.3%; border:1px; padding:10px; box-sizing:border-box;">
            <img class="float-left", style="height:200px; align-content:center;", src="../static/harley2.png">
            <div class="clearfix"></div>
            <ul style="display:inline-block; padding-top:10px; text-align:center;">
                <li>Fall 2014</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="container", style="float:left; width:33.3%; border:1px; padding:10px; box-sizing:border-box;">
            <img class="float-left", style="height:200px", src="../static/miller_raw.jpeg">
            <div class="clearfix"></div>
            <ul style="display:inline-block; padding-top:10px; text-align:center;">
                <li>Fall 2015</li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}